<% issue = tab[:issue] %>
<% journals = tab[:journals] %>
<% reply_links = issue.notes_addable? %>

<% journals.each do |journal| %>
  <% next if skip_render_journal?(issue, journal, tab[:name]) %>

  <div id="change-<%= journal.id %>" class="<%= journal.css_classes %>">
    <div id="note-<%= journal.indice %>">
      <h4>
        <a href="#note-<%= journal.indice %>" class="journal-link">#<%= journal.indice %></a>
        <%= avatar(journal.user, :size => "24") %>
        <%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %>

        <% if self.respond_to?(:render_private_notes_indicator) %>
          <%= render_private_notes_indicator(journal) %>
        <% else %>
          <%= content_tag('span', l(:field_is_private), :class => 'private') if journal.private_notes? %>
        <% end %>
      </h4>

      <%= render partial: 'issues/journals/' + tab[:name], locals: {
        issue: issue, journal: journal , reply_links: reply_links
      } %>

    </div>
  </div>
  <%= call_hook(:view_issues_history_journal_bottom, { :journal => journal }) %>
<% end %>
